.wrapper
  .main
    .mainHeader
      .mainHeader__box
        %p.mainHeader__box__title test-group
        %p.mainHeader__box__member Member： test-user
      .mainHeader__button
        = link_to edit_group_path(current_user) do
          .mainHeader__button__edit Edit
    %ul.mainMessages
      %li.mainMessages__list
        %p.mainMessages__list__userName isoppu
        %p.mainMessages__list__createdAt 2019/03/13(Sat) 20:00:00
        %p.mainMessages__list__text こんにちは！
      %li.mainMessages__list
        %p.mainMessages__list__userName isoppu
        %p.mainMessages__list__createdAt 2019/03/13(Sat) 20:00:00
        %p.mainMessages__list__text こんにちは！

    .mainInput
      %form.mainInput__box{method: :post , enctype: "#"}
        %input.mainInput__box__type{placeholder: "type a message" }
          %label.mainInput__box__image{for: 'image_file'}
            %i.fa.fa-image
            %input.mainInput__box__input{type: "file", id: 'image_file'}
      %a.mainInput__send{ href: 'http://google.co.jp' } Send

